<ul>
  <% @story.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<form action="/edit_story/<%= @story.id %>" method="post">
  <input type="hidden" name="stories[id]" value="<%= @story.id %>"></input>
  <input type="hidden" name="_method" value="put"></input>
  <input type="text" name="stories[name]" placeholder="Type in the story's name" value="<%= @story.name %>"></input>
  <input type="hidden" name="stories[user_id]" value ="<%= @story.user_id%>"></input>
  <input type="submit"></input>
</form>